@import "../../_css/common";

.checkout {
  margin: 50px 0;
  width: 100%;

  @include small-break {
    margin-top: 30px;
  }
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}