@import '../../_css/queries.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;

  @include mid-break {
    gap: 60px;
  }
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}